# Anchor build artifacts
.anchor
target
test-ledger

# Rust backup files
**/*.rs.bk

# Node/Yarn deps
node_modules
yarn-error.log

# Logs
*.log

# MacOS
.DS_Store

# Optional (ignore if you don't use, commit if you do)
pnpm-lock.yaml
package-lock.json
yarn.lock
